
<a href="/allBlogs">YOUR BLOG</a>
<a href="/publicblog">PUBLICBLOGS</a>
<a href="/profile">YOUR PROFILE</a>
<a href="/login">LOGOUT</a>

<form action="/createblog" method="POST" enctype="multipart/form-data">
<div class="container">
    <div class="Blogtitle">
    TITLE:<input type="text" name="Blogtitle" value="{{Blogtitle}}">
    <span>{{error.Blogtitle}}</span>
    </div>
    <div class="explain">
    {{!-- ABOUT:<textarea name="comment" form="usrform" name="explain" value="{{explain}}" rows="8" cols="50"></textarea> --}}
    ABOUT:<input type="text" name="explain" value="{{explain}}"  style="font-size: 18pt; height: 500px; width:60vw; ">
    <span>{{error.explain}}</span>
    
    </div>
    <div class="radio">
        MAKE BLOK AS PUBIC OR PRIVATE:<br>
        <input type="radio" id="private" name="private" value="private">
        <label for="private">PRIVATE</label><br>
        <input type="radio" id="public" name="private" value="public">
        <label for="public">PUBLIC</label><br>
    </div>
    <div class="image">
        
    IMAGES:<input type="file" name="image" multiple>
    </div>
    <button type="submit">SUBMIT</button>
</div>
</form>


{{!-- <a href= "/allBlogs">ALLBLOGS</a> --}}
