<link rel="stylesheet" href="./style1.css">
<form action="/signin" method="POST" enctype="multipart/form-data">
<div class = "container">
    <h1>WELCONE TO BLOGIT</h1>
<div class = "fname">
    <div class="name">FirstName</div>
    <input type="text" class="firstname" name="fname" value={{fname}}>
    <span>{{error.fname}}</span><br> 
</div>
<div class = "fname">
    <div class="name">LastName</div>
    <input type="text" class="firstname" name="lname" value={{lname}}>
    <span>{{error.lname}}</span><br> 
</div>
<div class = "fname">
    <div class="name">Email</div>
    <input type="text" class="firstname" name="email" value={{email}}>
    <span>{{error.email}}</span><br> 
</div>
<div class = "fname">
    <div class="name">ProfileImage</div>
    <input type="file" class="firstname" name="image" >
    <span>{{error.image}}</span><br> 
</div>
<div class = "fname">
    <div class="name">Password</div>
    <input type="password" class="firstname" name="password" >
    <span>{{error.password}}</span><br> 
</div>
<div class = "fname">
    <div class="name">Enter your pet Name</div>
    <input type="text" class="firstname"  name="question" >
    <span>{{error.question}}</span><br> 
</div>
<div class="button">
    <button type="submit">SUBMIT</button>
</div>
</div>
</form>


<a class = "login" href="/login">LOGIN</a>

<a class = "allblogs" href="/allblogs">ALLBLOCKS</a>