<form action="/signin" method="POST" enctype="multipart/form-data">
<div class = "container">
<div class = "fname">
    FirstName:<input type="text" name="fname" value={{fname}}>
    <span>{{error.fname}}</span><br> 
</div>
<div class = "lname">
    LastName:<input type="text" name="lname" value={{lname}}>
    <span>{{error.lname}}</span><br> 
</div>
<div class = "email">
    Email:<input type="text" name="email" value={{email}}>
    <span>{{error.email}}</span><br> 
</div>
<div class = "image">
    ProfileImage:<input type="file" name="image" >
    <span>{{error.image}}</span><br> 
</div>
<div class = "password">
    Password:<input type="password" name="password" >
    <span>{{error.password}}</span><br> 
</div>
<div class = "question">
    Enter your pet Name:<input type="text" name="question" >
    <span>{{error.question}}</span><br> 
</div>
<div class="button">
    <button type="submit">SUBMIT</button>
</div>
</div>
</form>


<a href="/login">LOGIN</a>

<a href="/allblogs">ALLBLOCKS</a>